.breadcrumb-item {
  color: #efba26;
}

.breadcrumb-item:hover {
  color: black;
}

.breadcrumb-item.active {
  color: #f3d993;
}

.breadcrumb-item.active::before {
  color: #efba26;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
* ::-webkit-scrollbar {
  width: 12px;
}
* ::-webkit-scrollbar-track {
  background: #888;
}
* ::-webkit-scrollbar-thumb {
  background: #efba26;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #f3d993;
}

@font-face {
  font-family: "amoresfreefont";
  src: url("../fonts/amoresfreefont.ttf");
  font-weight: 700;
}
h1 {
  color: #efba26;
  font-family: amoresfreefont;
  font-size: 7.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.7;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 20px 20px 20px 20px;
}

em {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  color: #efba26;
  font-weight: bold;
}

section h4 {
  color: #efba26;
  font-size: 20px;
  margin-left: 20px;
}

.videoSketchbook {
  margin: auto;
  display: flex;
  align-content: center;
  border-radius: 50px 0 50px 0;
}

.producto-1 {
  background-image: url("../img/each/producto-1.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: #efba26 2px solid;
}

.producto-2 {
  background-image: url("../img/each/producto-2.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: #efba26 2px solid;
}

.producto-3 {
  background-image: url("../img/each/producto-3.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: #efba26 2px solid;
}

.producto-4 {
  background-image: url("../img/each/producto-4.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: #efba26 2px solid;
}

.producto-5 {
  background-image: url("../img/each/producto-5.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: #efba26 2px solid;
}

.header__div .navbar {
  background-color: #efba26 !important;
}
.header__div .navbar .container-fluid .navbar-brand .header__div__nav__div__a__logo {
  height: 60px;
  display: flex;
  justify-content: flex-start;
}
.header__div .navbar .container-fluid .navbar-brand .logoReduccion {
  display: none;
  height: 80px;
  margin: -10px;
}
.header__div .navbar .container-fluid div button {
  position: absolute;
  top: 20px;
  right: 20px;
}
.header__div .navbar .container-fluid div div .navbar-nav {
  margin-top: 60px;
}
.header__div .navbar .container-fluid div div .navbar-nav li a {
  font-size: 20px;
  text-align: right;
}
.header__div .navbar .container-fluid div div .navbar-nav li ul {
  padding: 0;
  background-color: #e7c15a79;
  min-width: 0;
}
.header__div .navbar .container-fluid div div .navbar-nav li ul li a:hover {
  background-color: #efba26;
}

body {
  background-image: url(../img/ADAN.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  background-blend-mode: hard-light;
  color: white;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}
body main {
  /* background-image: rgba(169, 169, 169, 0.596); */
  background-image: linear-gradient(rgba(169, 169, 169, 0.596) 90%, #efb92600);
  padding: 0%;
  justify-content: center;
  padding-bottom: 18vh;
}
body aside section img {
  height: 100px;
  border: #efba26 solid 5px;
  border-radius: 100%;
}

footer {
  display: flex;
  margin-top: auto;
  background-image: linear-gradient(rgba(255, 0, 0, 0) 5%, #efba26);
  justify-content: center;
  height: auto;
}
footer div h5 {
  text-align: center;
  color: black;
}
footer div .fa-facebook,
footer div .fa-instagram,
footer div .fa-youtube {
  font-size: 40px;
  padding-right: 30px;
  color: black;
}
footer div .fa-facebook:hover {
  transform: scale(1.2);
  color: blue;
  transition-duration: 0.5s;
}
footer div .fa-youtube:hover {
  transform: scale(1.2);
  color: red;
  transition-duration: 0.5s;
}
footer div .fa-instagram:hover {
  transform: scale(1.2);
  color: violet;
  transition-duration: 0.5s;
}
footer .footer__div--contacto {
  display: flex;
  flex-direction: column;
}
footer .footer__div--contacto .div__p--contacto {
  padding: 0;
}

#julianaProfile {
  border-radius: 30px 0 30px 0;
  border: 10px solid #efba26;
  display: block;
  margin: auto;
  width: 40vw;
}

main .carousel-inner {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
}
main .carousel-inner .carousel-item .d-block {
  margin: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 70vh;
  width: 100%;
}
main .carousel-control-prev .carousel-control-prev-icon {
  display: none;
}
main .carousel-control-prev .fa-chevron-left {
  font-size: 30px;
  color: #efba26;
}
main .carousel-control-next .carousel-control-next-icon {
  display: none;
}
main .carousel-control-next .fa-chevron-right {
  font-size: 30px;
  color: #efba26;
}

aside section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside section div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainContacto div {
  display: flex;
  justify-content: center;
}
.mainContacto div .sectionForm {
  width: 50vw;
}
.mainContacto div .sectionForm form fieldset {
  display: flex;
  justify-content: center;
  border: #efba26 dashed 3px;
  flex-direction: column;
  align-items: stretch;
}
.mainContacto div .sectionForm form fieldset legend {
  text-align: center;
}
.mainContacto div .sectionForm form fieldset label {
  display: flex;
  justify-content: center;
}
.mainContacto div .sectionForm form fieldset input {
  margin: 5px;
}
.mainContacto div .sectionForm form fieldset .newsletter {
  display: block;
}
.mainContacto div .sectionForm form fieldset .border:focus {
  outline: #efba26 auto;
}
.mainContacto div .sectionForm form fieldset div .button__color {
  width: 100px;
  border-radius: 16px;
  background-color: #efba26;
  color: black;
  display: block;
}

@media only screen and (min-width: 769px) {
  .bodyIndex {
    display: grid;
  }
  .bodyIndex header {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .bodyIndex main {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .bodyIndex main .julianaProfile {
    max-width: 60vw;
  }
  .bodyIndex main .videoSketchbook {
    margin: auto;
    display: flex;
    align-content: center;
    border-radius: 50px 0 50px 0;
    width: 560px;
    height: 315px;
  }
  .bodyIndex aside {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: rgba(0, 0, 0, 0.267);
    border: #efba26 dashed 2px;
  }
  .bodyIndex aside section {
    text-align: center;
  }
  .bodyIndex footer {
    grid-column: 1/4;
    grid-row: 4/5;
  }
}
@media only screen and (min-width: 481px) {
  #julianaProfile {
    width: 60vw;
  }
}
.videoSketchbook {
  margin: auto;
  display: flex;
  align-content: center;
  border-radius: 50px 0 50px 0;
  width: 80vw;
  height: 300px;
}

.main404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main404 img {
  margin-top: 50px;
  width: 20vw;
}
.main404 h1 {
  font-family: "Times New Roman", Times, serif;
}/*# sourceMappingURL=style.css.map */