.mainContacto {
    div {

        .sectionForm {

            form {
                display: flex;
                justify-content: center;
                
                fieldset {
                    width: 80vw;
                    justify-content: center;
                    text-align: center;
                    border: $amarillo dashed 3px;
                    
                    legend {
                        text-align: center;
                    }

                    label {
                        display: block;
                        text-align: center;
                        justify-content: center;
                    }

                    input {
                        width: 80%;
                        margin: 5px;
                        
                    }
                    
                    textarea {
                        width: 80%;
                        margin: 5px;
                    }
                    
                    select {
                        margin: 5px;
                    }

                    .newsletter {
                        display: inline;
                    }
                    .checkbox {
                        width: auto;
                    }
                    .border:focus {
                        outline: $amarillo auto;
                    }

                    div {
                        display: flex;
                        justify-content: space-evenly;
                        .button__color {
                            width: 100px;
                            border-radius: 16px;
                            background-color: $amarillo;
                            color: black;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}