.mainContacto {
    div {
        display: flex;
        // flex-direction: column;
        justify-content: center;

        .sectionForm {
            width: 50vw;

            form {
                fieldset {
                    display: flex;
                    justify-content: center;
                    border: $amarillo dashed 3px;
                    flex-direction: column;
                    align-items: stretch;

                    legend {
                        text-align: center;
                    }

                    label {
                        display: flex;
                        justify-content: center;
                    }

                    input {
                        margin: 5px;
                    }

                    .newsletter {
                        display: block;
                    }

                    .border:focus {
                        outline: $amarillo auto;
                    }

                    div {
                        .button__color {
                            width: 100px;
                            border-radius: 16px;
                            background-color: $amarillo;
                            color: black;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}