.carousel-inner {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    // max-width: 50%;

    .carousel-item {
        // display: flex;

        .d-block {
            margin: auto;
            object-fit: scale-down;
            height: 70vh;
            width: 100%;
            // max-height: 500px;
        }
    }
}

.carousel-control-prev {
    .carousel-control-prev-icon {
        display: none;
    }
    .fa-chevron-left {
        font-size: 30px;
        color: $amarillo;
    }
    
}

.carousel-control-next {
    .carousel-control-next-icon {
        display: none;
    }
    .fa-chevron-right {
        font-size: 30px;
        color: $amarillo;
    }
}