@media only screen and (min-width: 481px) {
    #julianaProfile {
        width: 60vw;
    }

    }
    .videoSketchbook {
    margin: auto;
    display: flex;
    align-content: center;
    border-radius: 50px 0 50px 0;
    width: 80vw;
    height: 300px;

}

