@media only screen and (min-width: 481px) {

    }
    .videoSketchbook {
    margin: auto;
    display: flex;
    align-content: center;
    border-radius: 50px 0 50px 0;
    width: 400px;
    height: 225px;
}
